{% extends "notebook/base.html" %}
{% block content %}
    {% for note in notes %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ note.poster.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ note.poster }}</a>
              <small class="text-muted">{{ note.posted_date|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'notebook-detail' note.id %}">{{ note.title }}</a></h2>
            <p class="article-content">{{ note.description }}</p>
            {% if note.category == "Important" %}
            <span class="badge badge-danger">{{ note.category }}</span>
            {% else %}
            <span class="badge badge-secondary">{{ note.category }}</span>
            {% endif %}
          </div>
        </article>
    {% endfor %}
{% endblock content %}